loguru==0.5.3
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
PyQt5-stubs==5.15.2.0
qt-material==2.8.8
zeep==4.0.0
py-singleton==1.0.0
tenacity==7.0.0
requests==2.25.1
pytz==2021.1
aiohttp==3.7.4.post0
qasync==0.16.0
pandas==1.2.3
numpy==1.20.2
dynaconf==3.1.4